body {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto', arial;

}

.container {
    display: flex;
    flex-direction: column;

}

/* Navbar */
.first {
    display: flex;
    background-color: #1F2937;
    align-items: center;

}

.navbar {
    display: flex;
    max-width: 960px;
    flex: 1 1 auto;
    position: relative;
    min-width: 1px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.rightlinks {

    font-size: 18px;

}

a {
    color: #E5E7EB;
    text-decoration: none;
    padding: 7px;
}

/* Hero */

.heroic {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    flex-direction: column;

}

.hero {
    display: flex;
    justify-content: space-evenly;
    min-height: 400px;
    padding: 0px 20px 30px;
    max-width: 960px;
    padding-top: 50px;
    gap: 30px;
}

.heroleft {
    max-width: 600px;
    text-align: left;
}

.main {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.mainsub {
    font-size: 18px;
    color:#E5E7EB;
}

.button1 {
    color:#F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 8px;
    font-weight: bolder;
}

/* Random Information */

.secondtitle {
    font-size: 36px;
    font-weight: bolder;
    padding: 40px;
}

.photosntext {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
    max-width: 960px;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.fern {
    border-radius: 8px;
}

.second {
    min-height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Thor Quote */

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
}
.thorsy {
    display: flex;
    flex-direction: column;
    min-height: 420px;
    justify-content: center;
    max-width: 960px;
}

.thor {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    text-align: left;
}

.godofthunder {
    color: #1F2937;
    font-weight: bolder;
    font-size: 18px;
    margin-left: auto;
}

/* Call To Action*/

.fourth {
    display: flex;
    justify-content: center;
    padding: 120px;
}

.callbox {
    display: flex;
    background-color: #3882F6;
    padding: 30px 90px;
    gap: 40px;
    color: #E5E7EB;
    border-radius: 8px;
}

.call {
    font-size: 30px;
    font-weight: bolder;
    text-align: start;
}

.sign {
    font-weight: lighter;
}

.button2 {
    color:#F9FAF8;
    background-color: #3882F6;
    border: 3px solid #F9FAF8;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 8px;
    font-weight: bolder;
}


/* Footer*/
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1F2937;
    color:#E5E7EB;
    height: 100px;
    font-size: 18px;
}
